@mixin transitionHoverColor {
    -webkit-transition: background-color 0.75s ease;
    -moz-transition: background-color 0.75s ease;
    -o-transition: background-color 0.75s ease;
    transition: background-color 0.75s ease;
}

/* Collapsible Panels Override Styling */


.panel-default {
    border-width: 10px;
    border-color: black;
}

.panel-body {
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
}

.panel-heading {
    cursor: pointer;
    background-color: white !important;
    @include transitionHoverColor;
}

#p1:hover {
     background-color: red !important;
}
#p2:hover {
     background-color: cyan !important;
}
#p3:hover {
     background-color: orange !important;
}
#p4:hover {
     background-color: lime !important;
}
.red {background-color: yellow !important;}
.cyan {background-color: lightblue !important;}
.orange {background-color: hotpink !important;}
.lime {background-color: green !important;}

.panel-title {
    font-family: "gotmilk";
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    a {
        text-decoration: none;
    }
    .caret {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #000000;
    }
}

.glyphicon.glyphicon-flash{ font-size: 85%; }
.glyphicon.glyphicon-book{    font-size: 75%; }
.glyphicon.glyphicon-tasks{    font-size: 70%; }
.glyphicon.glyphicon-eye-open{    font-size: 65%; }
