@charset "utf-8";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../_fonts/glyphicons-halflings-regular.eot');
  src: url('../_fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../_fonts/glyphicons-halflings-regular.woff') format('woff'), url('../_fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../_fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@font-face {
	font-family: 'gotmilk';
	src: url('../_fonts/cgphenixamerican.ttf');
}