/* Navigation */
/* remove ugly horizontal default border from .nav-tabs class */
.nav-tabs {
    border: 0;
}
/* Bootstrap default colors override 
/* this makes sure PORTFOLIO Stays lighted in orange when submenus are down */
ul.nav li.dropdown:hover > a.dropdown-toggle {
    background-color: orange;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

#nav {
    a { 
        font-size: 1.2em;
        font-family: serif;
        text-shadow: 0.5px 0.5px 0.5px rgba(255,0,0,0.5);
        color: black;
           &:visited {
            color: darkred;
            text-shadow: none;
            }
           &:hover {
            border: 1px solid black;
            color: white;
            text-shadow: none;
            background: #FE642E;
            }
      }
    ul li ul li a{
        list-style: none;
        text-shadow: none;
    }
}