@import 'base';
@import 'nav';
@import 'collapsible';

#headImage {
    float: right;
    margin-top: 2.5%;
}

#headImageRails {
    float: none;
    margin-left: 25%;
    margin-top: 5%;
}

h1 {
    font-weight: bold;
}

/* NameLogo&Welcome.php */
#logoHello{
    clear: right;
    width: 290px;
    height: 140px;
    @include transformImage;
}

#welcome {
    clear: both;
    font-family: Verdana, Geneva, sans-serif;
    text-size: 2em;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.4);
}
/* END NameLogo&Welcome.php */

#kyotoImage {
    width: 380px;
    height: 480px;
    @include transformImage;
        img {
        border: 5px black solid;
        }
}

.container {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.projectsDiv {
    li {
        list-style: none;
        border-radius: 10px;
        margin: 0;
        padding: 0;
        background-color: #EEE;
        max-width: 1200px;
        min-width: 500px;
        width: 100%;
        height: 220px;
        overflow: hidden;
        border: 1px solid black;
            img{ 
            width: 400px;
            height: 300px;
            margin-left: 5%;
            padding-bottom: 10px;
            }
        &:hover {
                    background: #F8ECE0;
                    min-height: 220px;
                    height: 400px;
                    overflow: visible;
                }
        }     
    h3 {
        margin: 0;
        padding: 0;
        padding: 10px 20px;
    }
}

#projectsRails {
        li {
        width: 100%;
        max-width: 800px;
        min-width: 550px;
        height: 220px;
        overflow: hidden;
        border: 1px solid black;
            img{ 
            width: 550px;
            height: 300px;
                }
                &:hover {
                background: #F8ECE0;
                min-height: 220px;
                height: 380px;
                overflow: visible;
                }
            }
}

#jsprojects {
    clear: both;
    img {
        width: 50%;
        height: 50%;
    }
}

/* SIZE DISPLAY DIFFERENCES */
/*********************/
/* Landscape phones and smaller */
@media only screen and (max-width: 750px) {
    #tablet {display: none;}  
    #desktop {display: none;}
    #mobile {   
        @include sizeDisplayMessage;
    }
    #gotSocial {
        font-size: 1em;
        span {  display: block;
                margin-bottom: 0.25em;}
    }
    #logoHello {
        padding-top: 5px;
    }
}

/* Tablets and Medium Desktops */
@media only screen and (min-width: 751px) and (max-width:1200px){
    #tablet {   
       @include sizeDisplayMessage;
    }  
    #desktop {display: none;}
    #mobile {display: none;}
    #gotSocial {
        clear: left;
    }
    #container {
        margin: 0 auto;
    }
    #wrapper {
        max-width: 80%;
        margin: 0 auto;
        #welcomeNav {
            padding-top: 10px;
            max-width: 550px;
            margin: 0 auto;
            #logoHello {
            margin: 0 auto;
            }
            #welcome {
                font-size: 1.2em;
                text-align: center;
                max-width: 450px;
                margin: 0 auto;
            }
        }
        #nav {
            a{
                font-size: 1.4em;
            }
            margin-bottom: 3%;
        }
        #kyotoImage {
           max-width: 360px;
           max-height: 480px;
           float: left;
           display: inline-block;
        }
    }

    #bodyContent {
        margin: 0 auto;
    }

    .panel { 
        width: 350px; 
        display: inline-block;
        margin-left: 3%;
        margin-top: 1%;
    }

}

/* Large desktops and laptops */
@media only screen and (min-width: 1201px) {
    #desktop{
        @include sizeDisplayMessage;
    }
    #tablet {display: none;}  
    #mobile {display: none;}
    #wrapper {
        max-width: 1350px;
        margin: 0 auto;
        #kyotoImage {
           img {
            width: 420px;
            height: 560px;
           }
           width: 420px;
           height: 560px;
           float: right;
           display: inline-block;
           margin-bottom: 2%;
           margin-top: -2%;
        }
        #welcomeNav {
            width: 700px;
            margin-right: 1%;
            clear: right;
            float: right;
        }
        #logoHello {
            margin: 0 auto;
        }
        #welcome{
            font-size: 1.2em;
            max-width: 500px;
            text-align: center;
            margin: 0 auto;
        }
        #nav {
            border-top: groove 1px black;
            border-spacing: 2px;
            margin: 0 auto;
            margin-top: 5%; 
            margin-left: 10%;
            a{
                font-size: 1.5em;
            }
        }  
    }

    #bodyContent {
        clear: right;
        margin-left: 15%;
    }
    
    .panel { 
        width: 350px; 
        margin: 0 auto;
        position: absolute;
        }

    #CollapsiblePanel1 {
        margin-top: 5px;
    }
    #CollapsiblePanel2 {
        margin-left: 20%;
    }
    #CollapsiblePanel3 {
        margin-left: 40%;
    }
    #CollapsiblePanel4 {
        margin-left: 60%;
    }
}


/* /END SIZE DISPLAY DIFFERENCES */

