@import 'base';
@import 'bootstrap';
@import 'nav';

/* NameLogo&Welcome.php */
#logoHello{
    clear: right;
    @include transformImage;
}

#welcome {
    clear: both;
    font-family: Verdana, Geneva, sans-serif;
    text-size: 2em;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.4);
}
/* END NameLogo&Welcome.php */

#kyotoImage {
@include transformImage;
    img {
    border: 5px black solid;
    }
}

.container {
    width: 100%;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Collapsible Panels Override Styling */
.panel-default {
    max-width: 350px;
    border-width: 10px;
    border-color: black;
    border-radius: 20px;
}

.panel-heading {
    cursor: pointer;
    border-radius: 20px;
}

.panel-title {
    font-family: "gotmilk";
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    a {
        text-decoration: none;
    }
    .caret {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #000000;
    }
}


/* SIZE DISPLAY DIFFERENCES */
/*********************/
/* Landscape phones and smaller */
@media only screen and (max-width: 784px) {
    #tablet {display: none;}  
    #desktop {display: none;}
    #mobile {   
        @include sizeDisplayMessage;
    }
    #gotSocial {
        font-size: 0.8em;
        span {  display: block;
                margin-bottom: 0.25em;}
    }
    #logoHello {
        padding-top: 5px;
    }
    #clickOhover {display: none;}
}

/* Tablets and Medium Desktops */
@media only screen and (min-width: 785px) and (max-width:1199px){
    #tablet {   
       @include sizeDisplayMessage;
    }  
    #desktop {display: none;}
    #mobile {display: none;}
    #gotSocial {
        clear: left;
    }
    #clickOhover {display: none;}
    #logoNwelcome {
        clear: both;
        float: right;
        max-width: 50%;
    }
    #kyotoImage {
       margin-top: 10%;       
       max-width: 380px;
       max-height: 500px;
    }
    #nav {
        float: right;
        border: 1px solid black;
    }

    #bodyContent {
        clear: both;
        margin-left: 30%;
    }
}

/* Large desktops and laptops */
@media only screen and (min-width: 1200px) {
    #desktop{
        @include sizeDisplayMessage;
    }
    #tablet {display: none;}  
    #mobile {display: none;}
}



/* /END SIZE DISPLAY DIFFERENCES */