@import 'base';
@import 'bootstrap';


/* MIXINS */
@mixin transformImage {
    position: relative;
    img {
        position: absolute;
        opacity: 1;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
         }
    img.top{  &:hover {opacity:0;} }
    img.placeholder {visibility: hidden; position: relative;}
}




/* NameLogo&Welcome.php */
#logoHello{
    clear: right;
    @include transformImage;
}

#welcome {
    clear: both;
    font-family: Verdana, Geneva, sans-serif;
    text-size: 2em;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.4);
}
/* END NameLogo&Welcome.php */

#kyotoImage {
@include transformImage;
    img {
    border: 5px black solid;
    }
}





/* Navigation */

/* remove ugly horizontal default border from .nav-tabs class */
.nav-tabs {
    border: 0;
}

/* Bootstrap default colors override 

/* this makes sure PORTFOLIO Stays lighted in orange when submenus are down */
ul.nav li.dropdown:hover > a.dropdown-toggle {
    background-color: orange;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

#nav {
    a { 
        font-size: 1.2em;
        font-family: serif;
        text-shadow: 0.5px 0.5px 0.5px rgba(255,0,0,0.5);
        color: black;
           &:visited {
            color: darkred;
            text-shadow: none;
            }
           &:hover {
            border: 1px solid black;
            color: white;
            text-shadow: none;
            background: #FE642E;
            }
      }
    ul li ul li a{
        list-style: none;
        text-shadow: none;
    }
}


.container {
    width: 100%;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}



/* SIZE DISPLAY DIFFERENCES */
/*********************/
/* Large desktops and laptops */


@media only screen and (min-width: 1200px) {
    #desktop{
        @include sizeDisplayMessage;
    }
    #tablet {display: none;}  
    #mobile {display: none;}
}

/* Tablets and Medium Desktops */
@media only screen and (min-width: 481px) and (max-width:1199px) {
    #tablet {   
       @include sizeDisplayMessage;
    }  
    #desktop {display: none;}
    #mobile {display: none;}


}

/* Landscape phones and smaller */
@media only screen and (max-width: 480px) {
    #tablet {display: none;}  
    #desktop {display: none;}
    #mobile {   
        @include sizeDisplayMessage;
    }

    #gotSocial {
        font-size: 0.8em;
        span {  display: block;
                margin-bottom: 0.25em;}
    }

    #logoHello {
        padding-top: 5px;
    }

        

}

/* /END SIZE DISPLAY DIFFERENCES */




/* Any CSS RULES you want applied at the END with PRIORITY #1 */
.placeholder {visibility: hidden; position: relative;}
