.container {
    width: 100%;
    border: 1px solid black;
    margin-top: 10px;
}




@charset "utf-8";
@font-face
{
font-family: 'gotmilk';
src: url('_fonts/cgphenixamerican.ttf') format('truetype');
}

/* ROTATING MY SOCIAL MEDIA ICONS EFFECT ON HOVER */
.rotate img {
    -moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.rotate img:hover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

/* CREATING A BLACK BORDER ACROSS ALL PAGES */
/* Create a series of empty pseudo-elements... */
html:before,html:after,body:before,body:after{
    content:"";
    background: rgba(0,0,0,.7);
    position:fixed;
    display:block;
    z-index:5;
}

/* ...and position them! */
html:before{
    height:10px;
    left:0;
    right:0;
    top:0;
}
html:after{
    width:10px;
    top:0;
    right:0;
    bottom:0;
}
body:before{
    height:10px;
    right:0;
    bottom:0;
    left:0;
}
body:after{
    width:10px;
    top:0;
    bottom:0;
    left:0;
}