/* CREATING A BLACK BORDER ACROSS ALL PAGES */
/* Create a series of empty pseudo-elements... */
/* line 3, ../sass/_blackborder.scss */
html:before, html:after, body:before, body:after {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: block;
  z-index: 5;
}

/* ...and position them! */
/* line 12, ../sass/_blackborder.scss */
html:before {
  height: 10px;
  left: 0;
  right: 0;
  top: 0;
}

/* line 18, ../sass/_blackborder.scss */
html:after {
  width: 10px;
  top: 0;
  right: 0;
  bottom: 0;
}

/* line 24, ../sass/_blackborder.scss */
body:before {
  height: 10px;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 30, ../sass/_blackborder.scss */
body:after {
  width: 10px;
  top: 0;
  bottom: 0;
  left: 0;
}

@font-face {
  font-family: 'gotmilk';
  src: url("../_fonts/cgphenixamerican.ttf");
}

/* MIXINS */
/* line 45, ../sass/_base.scss */
#browser {
  color: white;
  position: fixed;
  top: -2px;
  left: 10px;
  font-size: 0.75em;
  z-index: 10;
  display: inline-block;
}

/* line 49, ../sass/_base.scss */
#gotSocial {
  clear: left;
  float: right;
  margin-right: 0%;
}
/* line 53, ../sass/_base.scss */
#gotSocial span {
  font-family: 'gotmilk';
  font-size: 3.5em;
  margin-top: -3.5%;
  display: inline-block;
}
/* line 60, ../sass/_base.scss */
#gotSocial img {
  margin-top: -7%;
}

/* ROTATING MY SOCIAL MEDIA ICONS EFFECT ON HOVER */
/* line 66, ../sass/_base.scss */
.rotate img {
  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

/* line 73, ../sass/_base.scss */
.rotate img:hover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* Navigation */
/* remove ugly horizontal default border from .nav-tabs class */
/* line 3, ../sass/_nav.scss */
.nav-tabs {
  border: 0;
}

/* Bootstrap default colors override 
/* this makes sure PORTFOLIO Stays lighted in orange when submenus are down */
/* line 8, ../sass/_nav.scss */
ul.nav li.dropdown:hover > a.dropdown-toggle {
  background-color: orange;
}

/* line 12, ../sass/_nav.scss */
ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}

/* line 17, ../sass/_nav.scss */
#nav a {
  font-size: 1.2em;
  font-family: serif;
  text-shadow: 0.5px 0.5px 0.5px rgba(255, 0, 0, 0.5);
  color: black;
}
/* line 22, ../sass/_nav.scss */
#nav a:visited {
  color: darkred;
  text-shadow: none;
}
/* line 26, ../sass/_nav.scss */
#nav a:hover {
  border: 1px solid black;
  color: white;
  text-shadow: none;
  background: #FE642E;
}
/* line 33, ../sass/_nav.scss */
#nav ul li ul li a {
  list-style: none;
  text-shadow: none;
}

/* Collapsible Panels Override Styling */
/* line 11, ../sass/_collapsible.scss */
.panel-default {
  border-width: 10px;
  border-color: black;
}

/* line 16, ../sass/_collapsible.scss */
.panel-body {
  padding: 0;
  padding-left: 2px;
  padding-right: 2px;
}

/* line 22, ../sass/_collapsible.scss */
.panel-heading {
  cursor: pointer;
  background-color: white !important;
  -webkit-transition: background-color 0.75s ease;
  -moz-transition: background-color 0.75s ease;
  -o-transition: background-color 0.75s ease;
  transition: background-color 0.75s ease;
}

/* line 28, ../sass/_collapsible.scss */
#p1:hover {
  background-color: red !important;
}

/* line 31, ../sass/_collapsible.scss */
#p2:hover {
  background-color: cyan !important;
}

/* line 34, ../sass/_collapsible.scss */
#p3:hover {
  background-color: orange !important;
}

/* line 37, ../sass/_collapsible.scss */
#p4:hover {
  background-color: lime !important;
}

/* line 40, ../sass/_collapsible.scss */
.red {
  background-color: yellow !important;
}

/* line 41, ../sass/_collapsible.scss */
.cyan {
  background-color: lightblue !important;
}

/* line 42, ../sass/_collapsible.scss */
.orange {
  background-color: hotpink !important;
}

/* line 43, ../sass/_collapsible.scss */
.lime {
  background-color: green !important;
}

/* line 45, ../sass/_collapsible.scss */
.panel-title {
  font-family: "gotmilk";
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}
/* line 50, ../sass/_collapsible.scss */
.panel-title a {
  text-decoration: none;
}
/* line 53, ../sass/_collapsible.scss */
.panel-title .caret {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #000000;
}

/* line 60, ../sass/_collapsible.scss */
.glyphicon.glyphicon-flash {
  font-size: 85%;
}

/* line 61, ../sass/_collapsible.scss */
.glyphicon.glyphicon-book {
  font-size: 75%;
}

/* line 62, ../sass/_collapsible.scss */
.glyphicon.glyphicon-tasks {
  font-size: 70%;
}

/* line 63, ../sass/_collapsible.scss */
.glyphicon.glyphicon-eye-open {
  font-size: 65%;
}

/* line 5, ../sass/application.scss */
#headImage {
  float: right;
  margin-top: 2.5%;
}

/* line 10, ../sass/application.scss */
#headImageRails {
  float: none;
  margin-left: 25%;
  margin-top: 5%;
}

/* line 16, ../sass/application.scss */
h1 {
  font-weight: bold;
}

/* NameLogo&Welcome.php */
/* line 21, ../sass/application.scss */
#logoHello {
  clear: right;
  width: 290px;
  height: 140px;
}
/* line 26, ../sass/_base.scss */
#logoHello img {
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
/* line 35, ../sass/_base.scss */
#logoHello img.top:hover {
  opacity: 0;
}
/* line 39, ../sass/_base.scss */
#logoHello img.placeholder {
  position: relative;
  visibility: hidden;
}

/* line 28, ../sass/application.scss */
#welcome {
  clear: both;
  font-family: Verdana, Geneva, sans-serif;
  text-size: 2em;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

/* END NameLogo&Welcome.php */
/* line 36, ../sass/application.scss */
#kyotoImage {
  width: 380px;
  height: 480px;
}
/* line 26, ../sass/_base.scss */
#kyotoImage img {
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
/* line 35, ../sass/_base.scss */
#kyotoImage img.top:hover {
  opacity: 0;
}
/* line 39, ../sass/_base.scss */
#kyotoImage img.placeholder {
  position: relative;
  visibility: hidden;
}
/* line 40, ../sass/application.scss */
#kyotoImage img {
  border: 5px black solid;
}

/* line 45, ../sass/application.scss */
.container {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 52, ../sass/application.scss */
.projectsDiv li {
  list-style: none;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  background-color: #EEE;
  max-width: 1200px;
  min-width: 500px;
  width: 100%;
  height: 220px;
  overflow: hidden;
  border: 1px solid black;
}
/* line 64, ../sass/application.scss */
.projectsDiv li img {
  width: 400px;
  height: 300px;
  margin-left: 5%;
  padding-bottom: 10px;
}
/* line 70, ../sass/application.scss */
.projectsDiv li:hover {
  background: #F8ECE0;
  min-height: 220px;
  height: 400px;
  overflow: visible;
}
/* line 77, ../sass/application.scss */
.projectsDiv h3 {
  margin: 0;
  padding: 0;
  padding: 10px 20px;
}

/* line 85, ../sass/application.scss */
#projectsRails li {
  width: 100%;
  max-width: 800px;
  min-width: 550px;
  height: 220px;
  overflow: hidden;
  border: 1px solid black;
}
/* line 92, ../sass/application.scss */
#projectsRails li img {
  width: 550px;
  height: 300px;
}
/* line 96, ../sass/application.scss */
#projectsRails li:hover {
  background: #F8ECE0;
  min-height: 220px;
  height: 380px;
  overflow: visible;
}

/* line 105, ../sass/application.scss */
#jsprojects {
  clear: both;
}
/* line 107, ../sass/application.scss */
#jsprojects img {
  width: 50%;
  height: 50%;
}

/* SIZE DISPLAY DIFFERENCES */
/*********************/
/* Landscape phones and smaller */
@media only screen and (max-width: 750px) {
  /* line 117, ../sass/application.scss */
  #tablet {
    display: none;
  }

  /* line 118, ../sass/application.scss */
  #desktop {
    display: none;
  }

  /* line 119, ../sass/application.scss */
  #mobile {
    display: initial;
    position: fixed;
    bottom: 0;
    left: 10px;
    color: white;
    margin-bottom: -5px;
    z-index: 10;
    font-size: 1em;
  }

  /* line 122, ../sass/application.scss */
  #gotSocial {
    font-size: 1em;
  }
  /* line 124, ../sass/application.scss */
  #gotSocial span {
    display: block;
    margin-bottom: 0.25em;
  }

  /* line 128, ../sass/application.scss */
  #logoHello {
    padding-top: 5px;
  }
}
/* Tablets and Medium Desktops */
@media only screen and (min-width: 751px) and (max-width: 1200px) {
  /* line 135, ../sass/application.scss */
  #tablet {
    display: initial;
    position: fixed;
    bottom: 0;
    left: 10px;
    color: white;
    margin-bottom: -5px;
    z-index: 10;
    font-size: 1em;
  }

  /* line 138, ../sass/application.scss */
  #desktop {
    display: none;
  }

  /* line 139, ../sass/application.scss */
  #mobile {
    display: none;
  }

  /* line 140, ../sass/application.scss */
  #gotSocial {
    clear: left;
  }

  /* line 143, ../sass/application.scss */
  #container {
    margin: 0 auto;
  }

  /* line 146, ../sass/application.scss */
  #wrapper {
    max-width: 80%;
    margin: 0 auto;
  }
  /* line 149, ../sass/application.scss */
  #wrapper #welcomeNav {
    padding-top: 10px;
    max-width: 550px;
    margin: 0 auto;
  }
  /* line 153, ../sass/application.scss */
  #wrapper #welcomeNav #logoHello {
    margin: 0 auto;
  }
  /* line 156, ../sass/application.scss */
  #wrapper #welcomeNav #welcome {
    font-size: 1.2em;
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
  }
  /* line 163, ../sass/application.scss */
  #wrapper #nav {
    margin-bottom: 3%;
  }
  /* line 164, ../sass/application.scss */
  #wrapper #nav a {
    font-size: 1.4em;
  }
  /* line 169, ../sass/application.scss */
  #wrapper #kyotoImage {
    max-width: 360px;
    max-height: 480px;
    float: left;
    display: inline-block;
  }

  /* line 177, ../sass/application.scss */
  #bodyContent {
    margin: 0 auto;
  }

  /* line 181, ../sass/application.scss */
  .panel {
    width: 350px;
    display: inline-block;
    margin-left: 3%;
    margin-top: 1%;
  }
}
/* Large desktops and laptops */
@media only screen and (min-width: 1201px) {
  /* line 192, ../sass/application.scss */
  #desktop {
    display: initial;
    position: fixed;
    bottom: 0;
    left: 10px;
    color: white;
    margin-bottom: -5px;
    z-index: 10;
    font-size: 1em;
  }

  /* line 195, ../sass/application.scss */
  #tablet {
    display: none;
  }

  /* line 196, ../sass/application.scss */
  #mobile {
    display: none;
  }

  /* line 197, ../sass/application.scss */
  #wrapper {
    max-width: 1350px;
    margin: 0 auto;
  }
  /* line 200, ../sass/application.scss */
  #wrapper #kyotoImage {
    width: 420px;
    height: 560px;
    float: right;
    display: inline-block;
    margin-bottom: 2%;
    margin-top: -2%;
  }
  /* line 201, ../sass/application.scss */
  #wrapper #kyotoImage img {
    width: 420px;
    height: 560px;
  }
  /* line 212, ../sass/application.scss */
  #wrapper #welcomeNav {
    width: 700px;
    margin-right: 1%;
    clear: right;
    float: right;
  }
  /* line 218, ../sass/application.scss */
  #wrapper #logoHello {
    margin: 0 auto;
  }
  /* line 221, ../sass/application.scss */
  #wrapper #welcome {
    font-size: 1.2em;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
  }
  /* line 227, ../sass/application.scss */
  #wrapper #nav {
    border-top: groove 1px black;
    border-spacing: 2px;
    margin: 0 auto;
    margin-top: 5%;
    margin-left: 10%;
  }
  /* line 233, ../sass/application.scss */
  #wrapper #nav a {
    font-size: 1.5em;
  }

  /* line 239, ../sass/application.scss */
  #bodyContent {
    clear: right;
    margin-left: 15%;
  }

  /* line 244, ../sass/application.scss */
  .panel {
    width: 350px;
    margin: 0 auto;
    position: absolute;
  }

  /* line 250, ../sass/application.scss */
  #CollapsiblePanel1 {
    margin-top: 5px;
  }

  /* line 253, ../sass/application.scss */
  #CollapsiblePanel2 {
    margin-left: 20%;
  }

  /* line 256, ../sass/application.scss */
  #CollapsiblePanel3 {
    margin-left: 40%;
  }

  /* line 259, ../sass/application.scss */
  #CollapsiblePanel4 {
    margin-left: 60%;
  }
}
/* /END SIZE DISPLAY DIFFERENCES */
