/* line 1, ../sass/javascript.scss */
#mainContent {
  clear: both;
}

/* line 5, ../sass/javascript.scss */
#projectsJavascript {
  max-width: 1500px;
  min-width: 1000px;
  width: 100%;
}

#projectsJavascript a {
	text-decoration: none;
}

/* line 11, ../sass/javascript.scss */
#bubbleName {
  margin-left: 1%;
}
