           <ul>
              <h4>Reviews</h4>
              <li ng-repeat="review in main.pokemons[gallery.current].reviews">
                <blockquote>
                  <strong>{{reviewCtrl.starTranslate(review.stars)}}</strong>
                  {{review.body}}
                  <cite class="clearfix">—{{review.author}} on {{review.createdOn | date}}</cite>
                </blockquote>
              </li>
            </ul>
            <form name="reviewForm" ng-submit="reviewForm.$valid && reviewCtrl.addReview(main.pokemons[gallery.current])" novalidate>
            <!-- Preview Pane -->
              <blockquote>
                <h3>Your Review Preview Pane</h3>
                <strong>{{reviewCtrl.starTranslate(reviewCtrl.review.stars)}} Stars</strong>
                {{reviewCtrl.review.body}}
                <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
              </blockquote>
              <!--  Review Form -->
              <h4>Submit a Review</h4>
              <fieldset class="form-group">
                <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" required>
                  <option value="">Rate the Product</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review" required></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" / required>
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
              </fieldset>
              <div>Review form valid function returns {{reviewForm.$valid}}</div>
            </form>