	table td{
		border: 1px black solid;
		padding: 5px;
	}
	td img{
		margin-left: 45%;
	}
	#imagesCell {
		width: 400px;
	}
	#gallery {
		display: inline-block;
	}
	#gallery img {
		width: 30%;
		height: 30%;
	}
	#gallery ul {
		margin: 0;
		padding: 0;
	}
	h2 {
		font-weight: 300;
	}
	.ng-invalid.ng-dirty {
		border-color: red;
	}
	.ng-valid.ng-dirty{
		border-color: green;
	}